<configuration>

  <!-- Enable Logback JMX MBean -->
  <!-- Access via jconsole, MBeans -> ch.qos.logback.classic -->
  <jmxConfigurator/>

  <property name="LOGS_DIR" value="logs"/>
  <property name="DAILY" value="${LOGS_DIR}/%d{yyyy-MM-dd}"/>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="DATE_BASED_FILE">
    <append>true</append>
    <file>${LOGS_DIR}/myLog.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${LOGS_DIR}/myLog.${DAILY}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d [%thread] %-5level %logger{35} - %msg - Req=%X{TrackingId}%n%xEx</pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg - Req=%X{TrackingId}%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="DATE_BASED_FILE" />
    <appender-ref ref="STDOUT" />
  </root>

  <logger level="ERROR" name="org.apache"/>
  <logger level="WARN" name="org.springframework"/>
  <logger level="WARN" name="org.springframework.security"/>
  <logger level="ERROR" name="org.hibernate"/>
</configuration>